<!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/users/form.css') }}">
    </head>
    <body>
        <div class="container">
            {% block signup_form_content %}

            <form method="POST">

                {{ signup_form.csrf_token }}

                <div class="input">
                    {{ signup_form.name.label }}
                    {{ signup_form.name(placeholder="Seu nome") }}

                    {% if signup_form.name.errors %}
                        <ul>{% for error in signup_form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>

                <div class="input">
                    {{ signup_form.email.label }}
                    {{ signup_form.email(placeholder="Seu e-mail") }}

                    {% if signup_form.email.errors %}
                        <ul>{% for error in signup_form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>

                <div class="input">
                    {{ signup_form.username.label }}
                    {{ signup_form.username(placeholder="Seu usuário") }}

                    {% if signup_form.username.errors %}
                        <ul>{% for error in signup_form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>

                <div class="input">
                    {{ signup_form.password.label }}
                    {{ signup_form.password }}

                    {% if signup_form.password.errors %}
                        <ul>{% for error in signup_form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>

                <div class="input">
                    {{ signup_form.confirm_password.label }}
                    {{ signup_form.confirm_password }}

                    {% if signup_form.confirm_password.errors %}
                        <ul>{% for error in signup_form.confirm_password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>

                <button type="submit" class="btn submit">Criar conta</button>
                {{ signup_form.submit }}
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% endblock %}
        </div>
    </body>
</html>