{% extends "base_layout.html" %}

{% block page_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" />
{% endblock %}


{% block content %}
    <div class="container container-fluid" style="margin-top: 6rem">
        {% block show_users_messages %}
            {% with messages = get_flashed_messages(with_categories=True) %}
                <div class="mt-4 container">
                    {% if messages %}
                        {% for category, message in messages %}

                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        {% endfor %}
                    {% endif %}
                </div>
            {% endwith %}
        {% endblock %}

        <div class="mb-2 btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="button">
                <a href="{{ url_for('users_bp.signup') }}">
                    <button type="button" class="btn btn-primary">Criar novo usuário</button>
                </a>
            </div>
        </div>

        {% if users %}
            <div class="list-group">
                {% for user in users %}
                    <form method="POST" action="{{ url_for('users_bp.update_user', username=user.username) }}">
                        <button type="submit" class="list-group-item list-group-item-action">{{ user.username }}</button>
                    </form>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}