{% extends "base_layout.html" %}

{% block page_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/users/form.css') }}">
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/users/forms.js') }}"></script>
{% endblock %}

{% block content %}
    {% block navbar %}{% endblock %}
    <div class="form-wrapper">

        <div class="logo">
            <img src="{{ url_for('.static', filename='img/logo.png') }}" width="100" height="100" alt="logo" />
        </div>

        {% block signin_form_messages %}
            <div class="messages-box">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}

                        <div class="alerts alerts-box alerts-{{category}}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>

                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        {% endblock %}

        <form method="POST">
            {{ signin_form.csrf_token }}

            <fieldset>
                {{ signin_form.email.label }}
                {{ signin_form.email(placeholder="Seu e-mail") }}

                {% if signin_form.email.errors %}
                    {% for error in signin_form.email.errors %}
                        <div class="alerts alerts-box alerts-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </fieldset>

            <fieldset>
                {{ signin_form.password.label }}
                {{ signin_form.password(placeholder="Sua senha") }}

                {% if signin_form.password.errors %}
                    {% for error in signin_form.password.errors %}
                        <div class="alerts alerts-box alerts-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </fieldset>

            <fieldset>
                <label for="remember_me">
                    <span>Lembrar credenciais</span>
                    {{ signin_form.remember_me }}
                </label>
            </fieldset>

            <div class="submit-button">
                <input type="submit" value="Entrar">
            </div>
        </form>
    </div>
{% endblock %}