<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        {% block view_articles %}

            {% if articles %}
                <ul>
                    {% for article in articles %}
                        <li>
                            <div class="article">
                                <a href="{{ url_for('news_bp.show_article', article_id=article.article_id) }}">
                                    <h1>{{ article.title }}</h1>
                                </a>
                                {% if article.image_name %}
                                    <img src="{{ url_for('.static', filename='images/{}'.format(article.image_name)) }}" alt="Imagem da notícia">
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        {% endblock %}
    </body>
</html>