<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        {% block view_posts %}

            {% if posts %}
                <ul>
                    {% for post in posts %}
                        <li>
                            <div class="post">
                                <a href="{{ url_for('news_bp.show_post', post_id=post.post_id) }}">
                                    <h1>{{ post.title }}</h1>
                                </a>
                                {% if post.image_name %}
                                    <img src="{{ url_for('.static', filename='images/news/{}'.format(post.image_name)) }}" alt="Imagem da notícia">
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        {% endblock %}
    </body>
</html>