<!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>{{ post.title }}</title>
    </head>
    <body>
        <div class="post">
            {% if current_user.is_admin() %}
                <form method="POST" action="{{ url_for('.delete_post', post_id=post.post_id) }}">
                    <button type="submit">Apagar notícia</button>
                </form>

                <form method="POST" action="{{ url_for('.update_post', post_id=post.post_id) }}">
                    <button type="submit">Editar</button>
                </form>
            {% endif %}

            <h1>{{ post.title }}</h1>

            {% if post.image_name %}
                <img src="{{ url_for('.static', filename='images/news/{}'.format(post.image_name)) }}" alt="Imagem da notícia">
            {% endif %}

            <p>{{ post.text }}</p>
        </div>
        <button><a href="{{ url_for('news_bp.show_posts') }}">Voltar</a></button>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>