<!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <script type="text/javascript" src="{{ url_for('.static', filename='js/news/jquery-3.4.1.min.js') }}"></script>
    </head>
    <body>
        <h1>{{ form_title }}</h1>
        
        <div class="container">
            {% block article_form_content %}

            <form
                id="article-form"
                method="post"
                action="{{ form_action }}"
                enctype="multipart/form-data">
                
                {{ article_form.csrf_token }}
                
                <div class="input">
                    {{ article_form.title.label }}
                    {{ article_form.title }}

                    {% if article_form.title.errors %}
                        <ul>
                            {% for error in article_form.title.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="input">
                    {{ article_form.text.label }}
                    {{ article_form.text }}
                    
                    {% if article_form.text.errors %}
                        <ul>
                            {% for error in article_form.text.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="input">
                    {{ article_form.image.label }}
                    {{ article_form.image }}
                    
                    <img id="preview-img" src="{{ url_for('.static', filename='images/news/{}'.format(image_name)) }}"/>
                    
                    <script type="text/javascript">
                        function imgPreview(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $('#preview-img').attr('src', e.target.result);
                                };
                                reader.readAsDataURL(input.files[0]);
                            }
                        }

                        $("#image").change(function () {
                            imgPreview(this);
                        });
                    </script>

                    {% if article_form.image.errors %}
                        <ul>
                            {% for error in article_form.image.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <button type="submit" class="btn submit">Postar</button>
            </form>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% endblock %}
        </div>
        
    </body>
</html>