<!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/form.css') }}">
    </head>
    <body>
        <div class="container">
            {% block signup_form_content %}

            <form method="post">

                {{ signup_form.csrf_token }}

                <div class="input">
                    <label for="name">Nome</label>
                    {{ signup_form.name(placeholder="Seu nome") }}

                    {% if signup_form.name.errors %}
                        <ul>
                            {% for error in signup_form.name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="input">
                    <label for="email">E-mail</label>
                    {{ signup_form.email(placeholder="Seu e-mail") }}

                    {% if signup_form.email.errors %}
                        <ul>
                            {% for error in signup_form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="input">
                    <label for="username">Nome de usuário</label>
                    {{ signup_form.username(placeholder="Seu usuário") }}

                    {% if signup_form.username.errors %}
                        <ul>
                            {% for error in signup_form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="input">
                    <label for="password">Senha</label>
                    {{ signup_form.password }}

                    {% if signup_form.password.errors %}
                        <ul>
                            {% for error in signup_form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <button type="submit" class="btn submit">Criar conta</button>
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% endblock %}
        </div>
    </body>
</html>