<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SIIS</title>
    </head>
    <body>
        {% if current_user.is_authenticated %}
        <h1>ALO {{ current_user.username }}</h1>
        {% else %}
        <h1>OLA USUÁRIO</h1>
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>